<h1>Makersbnb</h1><br>
<form action='/listings'>
  <input type='submit' value='Host'>
</form><br>



<ul>
  <% @listings.each do |name, description, price| %>
    <li>
      <%="<%= listing.name %>">
        <%= listing.description %>
        <%= listing.price %>
      </a>
    </li>
  <% end %>
</ul>