<h1>Makersbnb</h1><br>
<form action='/new-listings'>
  <input type='submit' value='Host'>
</form><br>

<ul>
  <% @listings.each do |listing| %>
  <fieldset>
    <legend><%= listing.name %></legend>
    <%= listing.description %>
    <%= listing.price %></p></li>
  <% end %>
  </fieldset>
</ul>

<style>
  fieldset {
    background-color: #eeeeee;
  }

  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }

  input {
    margin: 5px;
  }
</style>

