<%= @listing %>

<form action='/listings' method='post'>
  <label for='name'>Name of property:</label><br><br>
  <input type='text' name='name'>
  <label for='name'>Description:</label><br><br>
  <input type='text' name='description'>
  <label for='name'>Price per night:</label><br><br>
  <input type='text' name='price'>
  <input type='submit' value='Submit'>
</form>