<%= @listing %>

<form action='/new_listings' method='post'>
  <label for='name'>Name of property:</label>
  <input type='text' name='name'><br><br>
  <label for='name'>Description:</label>
  <input type='text' name='description'><br><br>
  <label for='name'>Price per night:</label>
  <input type='text' name='price'><br><br>
  <input type='submit' value='Submit'>
</form>

