<% if flash[:notice] %>
  <p class='flash notice'>
    <%= flash[:notice] %>
  </p>
<% end %>



<h2>Makers BNB</h2>

<br>
<% if @userloggedin %>
<div class="field" id="sign_in" style="display:none">
<% else %> 
<div class="field" id="sign_in" style="display:block"> 
<% end %>
 
    <h4 class="centered" style="padding:30px; width:400px; text-align:center;"> 
    <div>
      <form class="fixed">
      <a href="/signin">Sign In</a>
      </form
     </div>
     
      <p>New to Makers BNB - please Register below</p>
    
      </div>
      <div>
        <form action="/createuser" method="post">
          <p style="text-align:left; padding-left:70px; padding-right:85px;">
            <span style="text-align:left;">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span style="text-algin:right"><input type="text" name="newname" required></span>
          </p>
          <p style="text-align:left; padding-left:70px; padding-right:85px;">
            <span style="text-align:left;">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span style="text-algin:right"><input type="email" name="newemail" required> </span>
          </p>
          <p style="text-align:left; padding-left:70px; padding-right:85px;">
            <span style="text-align:left;">Password:&nbsp;&nbsp;</span>   
            <span style="text-algin:right"><input type="password" name="newpassword" required></span>
          </p> 
          <% if @signin_error %>
            <p id="signerr" class="blank_row"><%= @signin_err_mg %></p>
          <% else %> 
            <p class="blank_row"></p>
          <% end %> 
          <input class="user_button" type="submit" value="Register">
        </form>
      </div>
    </h4>
 
</div>


<style>
h2 {
  text-align: center; 
}

.fixed {
  position: fixed;
  right: 40;
  top: 20;
  background-color: #ffffcc;
}
.user_button {
  border-radius: 7px;
  width: 80px;
  height: 32px;
  background-color: #ffffcc;
}

.peep-text { 
  font-family: "Times New Roman", Times, serif;
  font-size: 15px; 
  border-radius: 7px;
  height: 120px; 
  width : 300px; }

.peep {
  background-color: #ffe6ff;
  border-radius: 15px;
  padding: 15px; 
}

.peep_body {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: normal;
}

.peep_button {
  border-radius: 7px;
  width: 80px;
  height: 32px;
  background-color: #ffccff;
}

.user_button {
  border-radius: 7px;
  width: 80px;
  height: 32px;
  background-color: #ffffcc;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.alignleft {
    float: left;
    width:50.00%;
    text-align:left;
}

.aligncenter {
    float: left;
}

.alignright {
    float: right;
    width:50.00%;
    text-align:right;
}

.blank_row
{
    height: 12px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    color: #ff0066;
}

</style>

<script>
function myFunction() {
  document.getElementById("signerr").innertexxt = "Hello World";
}

function foo() {
    window.signin_error = false;
    window.signin_err_msg = "";
}
</script>
